USE [master]
GO
/****** Object:  Database [QLQuanBIDA]    Script Date: 10/16/19 1:28:28 PM ******/
CREATE DATABASE [QLQuanBIDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLQuanBIDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLQuanBIDA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLQuanBIDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLQuanBIDA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLQuanBIDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLQuanBIDA]
GO
/****** Object:  Table [dbo].[BANBIDA]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANBIDA](
	[MaBan] [varchar](10) NOT NULL,
	[TenBan] [nvarchar](30) NULL,
	[ViTri] [nvarchar](30) NULL,
	[MaLoaiBan] [varchar](10) NULL,
	[MaTrangThai] [varchar](10) NULL,
 CONSTRAINT [PK_BANBIDA] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MaHang] [varchar](10) NOT NULL,
	[MaHD] [varchar](10) NOT NULL,
	[SoLuongBan] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NHOMNGUOIDUNG_MANHINH]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NHOMNGUOIDUNG_MANHINH](
	[MaNhom] [varchar](10) NOT NULL,
	[MaManHinh] [varchar](10) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_CT_NHOMNGUOIDUNG_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG](
	[TenDangNhap] [varchar](10) NOT NULL,
	[MaNhom] [varchar](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_NHOMNGUOIDUNG_NGUOIDUNG1] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MaHang] [varchar](10) NOT NULL,
	[MaPN] [varchar](10) NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC,
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATBANBIDA]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATBANBIDA](
	[MaDat] [varchar](10) NOT NULL,
	[NgayGioDat] [datetime] NULL,
	[TrangThaiDat] [varchar](10) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaBan] [varchar](10) NULL,
 CONSTRAINT [PK_DATBANBIDA] PRIMARY KEY CLUSTERED 
(
	[MaDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[ChungLoai] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SoLuongTon] [int] NULL,
	[DonGia] [float] NULL,
	[MaLoai] [varchar](10) NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [varchar](10) NOT NULL,
	[TienDichVu] [float] NULL,
	[TienBan] [float] NULL,
	[DatBan] [datetime] NULL,
	[TraBan] [datetime] NULL,
	[TGChoi] [varchar](30) NULL,
	[ThueVAT] [float] NULL,
	[NgayLap] [datetime] NULL,
	[MaBan] [varchar](10) NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](70) NULL,
	[SoDT] [varchar](13) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIBANBIDA]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIBANBIDA](
	[MaLoaiBan] [varchar](10) NOT NULL,
	[TenLoaiBan] [nvarchar](20) NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_LOAIBANBIDA] PRIMARY KEY CLUSTERED 
(
	[MaLoaiBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIHANG] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MaManHinh] [varchar](10) NOT NULL,
	[TenManHinh] [nvarchar](70) NULL,
 CONSTRAINT [PK_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TenDangNhap] [varchar](10) NOT NULL,
	[MatKhau] [varchar](30) NULL,
	[HoatDong] [bit] NULL,
	[MaNV] [varchar](10) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](70) NULL,
	[SoDT] [varchar](13) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](10) NOT NULL,
	[HoTenNV] [nvarchar](70) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](70) NULL,
	[SoDT] [varchar](13) NULL,
	[TenDangNhap] [varchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MaNhom] [varchar](10) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [varchar](10) NOT NULL,
	[TongSoLuongNhap] [int] NULL,
	[TongGiaTriNhap] [float] NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAIBAN]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGTHAIBAN](
	[MaTrangThai] [varchar](10) NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
	[Mau] [varchar](30) NULL,
 CONSTRAINT [PK_TRANGTHAIBAN] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAIDAT]    Script Date: 10/16/19 1:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGTHAIDAT](
	[MaTrangThaiDat] [varchar](10) NOT NULL,
	[TenTrangThaiDat] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRANGTHAIDAT] PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANBIDA] ([MaBan], [TenBan], [ViTri], [MaLoaiBan], [MaTrangThai]) VALUES (N'BIDA001', N'Bàn số 1', N'1', N'MLB01', N'MTT001')
INSERT [dbo].[BANBIDA] ([MaBan], [TenBan], [ViTri], [MaLoaiBan], [MaTrangThai]) VALUES (N'BIDA002', N'Bàn số 2', N'1', N'MLB02', N'MTT001')
INSERT [dbo].[BANBIDA] ([MaBan], [TenBan], [ViTri], [MaLoaiBan], [MaTrangThai]) VALUES (N'BIDA003', N'Bàn số 3', N'2', N'MLB01', N'MTT001')
INSERT [dbo].[CT_NHOMNGUOIDUNG_MANHINH] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'NHOM001', N'SCR001', 1)
INSERT [dbo].[CT_NHOMNGUOIDUNG_MANHINH] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'NHOM001', N'SCR002', 1)
INSERT [dbo].[CT_NHOMNGUOIDUNG_MANHINH] ([MaNhom], [MaManHinh], [CoQuyen]) VALUES (N'NHOM001', N'SCR003', 1)
INSERT [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG] ([TenDangNhap], [MaNhom], [GhiChu]) VALUES (N'admin', N'NHOM001', NULL)
INSERT [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG] ([TenDangNhap], [MaNhom], [GhiChu]) VALUES (N'admin2', N'NHOM001', NULL)
INSERT [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG] ([TenDangNhap], [MaNhom], [GhiChu]) VALUES (N'user1', N'NHOM002', NULL)
INSERT [dbo].[CT_PHIEUNHAP] ([MaHang], [MaPN], [SoLuongNhap], [DonGiaNhap]) VALUES (N'HH001', N'PN00002', 50, 8000)
INSERT [dbo].[CT_PHIEUNHAP] ([MaHang], [MaPN], [SoLuongNhap], [DonGiaNhap]) VALUES (N'HH002', N'PN00001', 50, 13000)
INSERT [dbo].[CT_PHIEUNHAP] ([MaHang], [MaPN], [SoLuongNhap], [DonGiaNhap]) VALUES (N'HH003', N'PN00001', 50, 8000)
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [ChungLoai], [DonViTinh], [SoLuongTon], [DonGia], [MaLoai]) VALUES (N'HH001', N'Nước trà xanh C2', N'Nước uống', N'Chai', 50, 10000, N'MLH002')
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [ChungLoai], [DonViTinh], [SoLuongTon], [DonGia], [MaLoai]) VALUES (N'HH002', N'Bò húc lon', N'Nước uống', N'Lon', 50, 15000, N'MLH002')
INSERT [dbo].[HANGHOA] ([MaHang], [TenHang], [ChungLoai], [DonViTinh], [SoLuongTon], [DonGia], [MaLoai]) VALUES (N'HH003', N'Cocacola', N'Nước uống', N'Lon', 50, 10000, N'MLH002')
INSERT [dbo].[LOAIBANBIDA] ([MaLoaiBan], [TenLoaiBan], [DonGia]) VALUES (N'MLB01', N'Bida lỗ', 25000)
INSERT [dbo].[LOAIBANBIDA] ([MaLoaiBan], [TenLoaiBan], [DonGia]) VALUES (N'MLB02', N'Bida 3 băng', 20000)
INSERT [dbo].[LOAIHANG] ([MaLoai], [TenLoai]) VALUES (N'MLH001', N'Đồ ăn ')
INSERT [dbo].[LOAIHANG] ([MaLoai], [TenLoai]) VALUES (N'MLH002', N'Nước uống')
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'SCR001', N'Danh mục người dùng')
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'SCR002', N'Thêm người dùng')
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'SCR003', N'Phân quyền')
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [HoatDong], [MaNV]) VALUES (N'admin', N'1234', 1, N'NV001')
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [HoatDong], [MaNV]) VALUES (N'admin2', N'1234', 1, NULL)
INSERT [dbo].[NGUOIDUNG] ([TenDangNhap], [MatKhau], [HoatDong], [MaNV]) VALUES (N'user1', N'123', 0, NULL)
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (N'NCC001', N'An Phát', N'A5/22A, ấp 1 Vĩnh Lộc B, huyện Bình Chánh, TPHCM', N'0762836405')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (N'NCC002', N'Hoàng Lan', N'22A, Liên ấp 123, Vĩnh Lộc B, Bình Chánh, TPHCM', N'0723455443')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (N'NCC003', N'Hưng Bảo', N'102/3G, xã Tân Xuân, huyện Hóc Môn', N'0757221489')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [NgaySinh], [GioiTinh], [DiaChi], [SoDT], [TenDangNhap]) VALUES (N'NV001', N'Nguyễn Huỳnh Bá Huy', CAST(N'1998-10-25' AS Date), N'Nam', N'TPHCM', N'0762836505', N'user1')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTenNV], [NgaySinh], [GioiTinh], [DiaChi], [SoDT], [TenDangNhap]) VALUES (N'NV002', N'Nguyễn Ngọc Tuấn Khôi', CAST(N'1998-10-30' AS Date), N'Nam', N'TPHCM', N'0956437873', N'admin')
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM001', N'Admin', NULL)
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM002', N'Nhân Viên', NULL)
INSERT [dbo].[NHOMNGUOIDUNG] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'NHOM003', N'Quản lý', NULL)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [TongSoLuongNhap], [TongGiaTriNhap], [NgayNhap], [MaNCC]) VALUES (N'PN00001', 100, 1500000, CAST(N'2019-08-10 00:00:00.000' AS DateTime), N'NCC001')
INSERT [dbo].[PHIEUNHAP] ([MaPN], [TongSoLuongNhap], [TongGiaTriNhap], [NgayNhap], [MaNCC]) VALUES (N'PN00002', 100, 800000, CAST(N'2019-08-10 00:00:00.000' AS DateTime), N'NCC001')
INSERT [dbo].[TRANGTHAIBAN] ([MaTrangThai], [TenTrangThai], [Mau]) VALUES (N'MTT001', N'Sẵn sàng đón khách', N'Office 2007 Green')
INSERT [dbo].[TRANGTHAIBAN] ([MaTrangThai], [TenTrangThai], [Mau]) VALUES (N'MTT002', N'Có khách', N'Caramel')
INSERT [dbo].[TRANGTHAIBAN] ([MaTrangThai], [TenTrangThai], [Mau]) VALUES (N'MTT003', N'Đang sửa chữa', N'Office 2007 Silver')
ALTER TABLE [dbo].[BANBIDA]  WITH CHECK ADD  CONSTRAINT [FK_BANBIDA_LOAIBANBIDA] FOREIGN KEY([MaLoaiBan])
REFERENCES [dbo].[LOAIBANBIDA] ([MaLoaiBan])
GO
ALTER TABLE [dbo].[BANBIDA] CHECK CONSTRAINT [FK_BANBIDA_LOAIBANBIDA]
GO
ALTER TABLE [dbo].[BANBIDA]  WITH CHECK ADD  CONSTRAINT [FK_BANBIDA_TRANGTHAIBAN] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TRANGTHAIBAN] ([MaTrangThai])
GO
ALTER TABLE [dbo].[BANBIDA] CHECK CONSTRAINT [FK_BANBIDA_TRANGTHAIBAN]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HANGHOA] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANGHOA] ([MaHang])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HANGHOA]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_MANHINH]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHOMNGUOIDUNG_MANHINH_MANHINH] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[MANHINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_MANHINH] CHECK CONSTRAINT [FK_CT_NHOMNGUOIDUNG_MANHINH_MANHINH]
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_MANHINH]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHOMNGUOIDUNG_MANHINH_NHOMNGUOIDUNG] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_MANHINH] CHECK CONSTRAINT [FK_CT_NHOMNGUOIDUNG_MANHINH_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHOMNGUOIDUNG_NGUOIDUNG_NGUOIDUNG] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([TenDangNhap])
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG] CHECK CONSTRAINT [FK_CT_NHOMNGUOIDUNG_NGUOIDUNG_NGUOIDUNG]
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHOMNGUOIDUNG_NGUOIDUNG_NHOMNGUOIDUNG] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[CT_NHOMNGUOIDUNG_NGUOIDUNG] CHECK CONSTRAINT [FK_CT_NHOMNGUOIDUNG_NGUOIDUNG_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_HANGHOA] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANGHOA] ([MaHang])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_HANGHOA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[DATBANBIDA]  WITH CHECK ADD  CONSTRAINT [FK_DATBANBIDA_BANBIDA] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BANBIDA] ([MaBan])
GO
ALTER TABLE [dbo].[DATBANBIDA] CHECK CONSTRAINT [FK_DATBANBIDA_BANBIDA]
GO
ALTER TABLE [dbo].[DATBANBIDA]  WITH CHECK ADD  CONSTRAINT [FK_DATBANBIDA_TRANGTHAIDAT] FOREIGN KEY([TrangThaiDat])
REFERENCES [dbo].[TRANGTHAIDAT] ([MaTrangThaiDat])
GO
ALTER TABLE [dbo].[DATBANBIDA] CHECK CONSTRAINT [FK_DATBANBIDA_TRANGTHAIDAT]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANG] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAIHANG] ([MaLoai])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BANBIDA] FOREIGN KEY([MaBan])
REFERENCES [dbo].[BANBIDA] ([MaBan])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BANBIDA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NGUOIDUNG] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
USE [master]
GO
